@import '../../Utilities';

@mixin setBatteryFont() {
  @include rem(height, 18px);
  line-height: 1;
}


// Setting the icons
.ins-battery-1 svg, .ins-battery-low svg{
  @include setBatteryFont;
  path { fill: $ins-color--critical; }
}

.ins-battery-2 svg, .ins-battery-medium svg{
  @include setBatteryFont;
  path { fill: $ins-color--medium; }
}

.ins-battery-3 svg, .ins-battery-high svg{
  @include setBatteryFont;
  path { fill: $ins-color--high; }
}

.ins-battery-4 svg, .ins-battery-critical svg{
  @include setBatteryFont;
  path { fill: $ins-color--low; }
}