@import './Table/styles.scss';

.pf-c-table {
  tr:nth-child(2n) {
    background: #f1f1f1;
  }

  .pf-c-table__sort svg {
    transition: var(--pf-c-table__sort--Transition);
  }

  tfoot {
    td {
      padding: 0;
      .special-patternfly {

        .content-view-pf-pagination {
          padding-left: 20px; 
        }

        input.pagination-pf-page {
          font-size: 16px;
          padding-top: 5px;
        }
  
        .pagination-pf-pagesize.dropdown {
          button {
            font-size: 14px;
          }
  
          ul li {
            font-size: 14px;
          }
        }
      }
    }
  }
}
